<nav class="navbar navbar-inverse  navbar-fixed-top ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="invite" fragment="home"><i class="glyphicon glyphicon-home"></i></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#home">Начало</a></li>-->
                <li><a [routerLink]="invite" fragment="story"><i class="glyphicon glyphicon-heart"></i> Жених и невеста</a></li>
                <li><a [routerLink]="invite" fragment="photobook"><i class="glyphicon glyphicon-camera"></i> Фотоальбом</a></li>
                <li><a [routerLink]="invite" fragment="timing"><i class="glyphicon glyphicon-glass"></i><i class="glyphicon glyphicon-time"> Тайминг</i></a></li>
                <li><a [routerLink]="invite" fragment="confirm"><i class="glyphicon glyphicon-check"> Подтверждение</i></a></li>
            </ul>
        </div>
       </div>
</nav>

