/* You can add global styles to this file, and also import other style files */




input.ng-touched.ng-invalid, select.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid {
    border: solid red 2px !important;
}


/*Для кнопок*/
label.btn-file input[type=file] {
    display: none !important;
}


tr.selected {
    font-weight: bold;
    background-color: beige !important;
}

tr.inactive {
    background-color: lightgray !important;
    color: darkgrey;
}


.sameline {
    /* Other styling.. */
    display: flex;
}


.vertical-align {
    display: flex;
    align-items: center;
}

.marging-top-10{
    margin-top: 10px;
}

.marging-top-50 {
    margin-top: 50px;
}






