<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Ответ</th>
            <th>Анкет</th>
            <th>Гостей</th>
            <th>С детьми</th>
            <th>Гости</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let a of answers">
            <td>{{a.answer}}</td>
            <td>{{a.anketCount}}</td>
            <td>{{a.guestsCount}}</td>
            <td>{{a.childrenCount}}</td>
            <td><span *ngFor="let g of a.guests"><a [href]="getGuestRef(g)" target="_blank">{{g.title}}</a>, </span> </td>
        </tr>
    </tbody>
</table>
