<div class="row" >
    <div *ngFor="let p of paths">
        <div class="thumbnail col-md-4">
            <a [href]="p" target="_blank">
                <img [src]="p" alt="photo" class="img-responsive" style="height: 200px !important;">                
            </a>
        </div>
    </div>
</div>
