<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#adminNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin"><span class="glyphicon glyphicon-home"></span>Админка приглашения</a>
        </div>
        <div class="collapse navbar-collapse" id="adminNavbar">
            <ul class="nav navbar-nav">
                <li *ngIf="userInfo.role == roles.admin"><a href="admin/guests">Гости</a></li>
                <li ><a href="admin/reports">Отчёты</a></li>
                <!--<li *ngIf="userInfo.role == Roles.Admin" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Администрирование
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/user/list">Пользователи</a></li>
                        <li><a href="#/product/list">Продукты</a></li>
                        <li><a href="#/version/list">Версии продуктов</a></li>
                        <li><a href="#/subscriptions/adminList">Подписки</a></li>
                        <li><a href="#/subscriptioncategory/list">Категории подписок</a></li>
                        <li><a href="#/news/list">Новости</a></li>
                    </ul>
                </li>-->
            </ul>
            <!--login-->
            <ul *ngIf="!!userInfo" class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a id="user-link" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="color:red">{{(userInfo.login ? userInfo.login:userInfo.email)}}</a></li>
                        <!--<li><a href="#/reset_password/request">Сменить пароль</a></li>-->
                        <li><a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
                    </ul>
                </li>
            </ul>
            <!--<ul ng-hide="userInfo" class="nav navbar-nav navbar-right">
                <li><a asp-controller="Home" asp-action="Login" id="loginLink"><span class="glyphicon glyphicon-log-in"></span> Войти</a></li>
            </ul>-->
        </div>
    </div>
</nav>
