<wi-guests-filter [searchFilter]="search" (filterChanged)="filterApply($event)" (filterCleared)="clearFilter()"></wi-guests-filter>

<div class="row">
    <p class="col-xs-6 col-md-7">Всего выбрано анкет: <b>{{totalCount}}</b></p>
    <div class="col-xs-6 col-md-5">
        <sort-select [sortFields]="sortFields" [sort]="sort" (sortChanged)="sortChangedHandler($event)"></sort-select>
    </div>
</div>

<section class="marging-top-10">
      
    <div *ngFor="let g of guests" class="well well-sm row">
        <div class="col-md-6">
            <h3>
                <a [href]="getGuestRef(g)" target="_blank" [tooltip]="g.description">{{g.title}}</a>
                <span class="badge"> {{g.whose==0?'Ж':'Н'}}</span>
                <span class="badge">{{!g.anketa? 'Не определились': g.anketa.isConfirmed === true? 'ДА' : 'НЕТ'}}</span>
                <button *ngIf="!!g.anketa && g.anketa.isChanged" class="btn btn-sm btn-default" title="Отметить как просмотрено."
                        (click)="markAsViewed(g)"><span class="glyphicon glyphicon-eye-open"></span></button>
            </h3>
            <div *ngIf="!!g.anketa && g.anketa.isConfirmed">
                <p> {{g.anketa.withPair? 'Парой':'Один'}} <span *ngIf="g.anketa.withChildren">, С детьми</span><span *ngIf="g.anketa.behindTheWheel">, за рулём</span><span *ngIf="!!g.anketa.phones">, т.: {{g.anketa.phones}}</span></p>
                <p>{{g.isNonresident ? 'Остановятся в': 'Живут в '}} {{g.anketa.cityId == 1 ? 'Кирове':'Кирово-Чепецке'}}.
                    <span *ngIf="!!g.anketa.arrivalDate"> Дата приезда: {{g.anketa.arrivalDate|date:"dd/MM/yyyy"}}</span>
                    <span *ngIf="!!g.anketa.departureDate"> Дата приезда: {{g.anketa.departureDate|date:"dd/MM/yyyy"}}</span>
                </p>
            </div>
        </div>
        <div *ngIf="!!g.anketa && g.anketa.isConfirmed" class="col-md-6">
            <h4>Комментарий/пожелание</h4>
            <blockquote>{{g.anketa.comment}}</blockquote>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-md-4">
        <pagination [ngModel]="pagination.currentPage" (pageChanged)="pageChanged($event)"
                    [itemsPerPage]="pagination.pageSize"
                    [totalItems]="totalCount"
                    [maxSize]="5"
                    class="pagination-sm"
                    [boundaryLinks]="true"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
    </div>
    <div class="col-md-2 col-md-offset-6">
        <select style="margin-top: 20px;" class="form-control input-sm" [(ngModel)]="pagination.pageSize" (change)="pageSizeChanged()">
            <option *ngFor="let ps of pageSizeList" [ngValue]="ps.value">{{ps.text}}</option>
        </select>
    </div>
</div>
