<h3 *ngIf="guest.id">Редактирование пригласительной гостей</h3>
<h3 *ngIf="!guest.id">Добавление новой пригласительной гостей</h3>

<div class="row">
    <div class="col-md-6">
        <form #guestForm="ngForm" novalidate (ngSubmit)="submit(guestForm)">
            <div *ngIf="guest.id" class="form-group">
                <label>Код пригласительной</label>
                <label class="form-control">{{guest.code}}</label>
            </div>
            <div class="form-group">
                <label>Заголовок</label>
                <input class="form-control" type="text" name="title" [(ngModel)]="guest.title" required />
            </div>
            <div class="form-group">
                <label class="radio-inline"><input type="radio" name="whose" [value]="0" [(ngModel)]="guest.whose" [checked]="guest.whose === 0" required>Жених</label>            
                <label class="radio-inline"><input type="radio" name="whose" [value]="1" [(ngModel)]="guest.whose" [checked]="guest.whose === 1" required>Невеста</label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="nonResident" [(ngModel)]="guest.isNonresident" />Приезжие
                </label>
            </div>
            <div class="form-group">
                <label>Описание гостей</label>
                <textarea class="form-control" name="descr" [(ngModel)]="guest.description" required></textarea>
            </div>

            <button [disabled]="guestForm.invalid" type="submit" class="btn btn-default"><span class="glyphicon glyphicons-ok">{{guest.id?'Сохранить':'Добавить'}}</span></button>
            <button type="button" class="btn btn-default" (click)="cancelEdit(guestForm)"><span class="glyphicon glyphicons glyphicons-remove">Отмена</span></button>
        </form>
    </div>
</div>
