<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Город</th>
        <th>Анкет</th>
        <th>Гостей</th>
        <th>С детьми</th>
        <th>Гости</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let c of cities">
        <td>{{c.city}}</td>
        <td>{{c.anketCount}}</td>
        <td>{{c.guestsCount}}</td>
        <td>{{c.childrenCount}}</td>
        <td><span *ngFor="let g of c.guests"><a [href]="getGuestRef(g)" target="_blank">{{g.title}}</a>, </span> </td>
    </tr>
    </tbody>
</table>
