<div class="input-group">
    <span class="input-group-addon">Сортировать по</span>
    <select class="form-control" name="sortBy" [(ngModel)]="sort.sortBy" (change)="sortByChanged()">
        <option [value]="''"></option>
        <option *ngFor="let f of sortFields" [value]="f.columnName">{{f.displayName}}</option>
    </select>
    <div class="input-group-btn">
        <button class="btn btn-default" [ngSwitch]="sort.direction" (click)="swithSortDirection()">
            <span *ngSwitchCase="0" class="glyphicon glyphicon-chevron-down"></span>
            <span *ngSwitchCase="1" class="glyphicon glyphicon-chevron-up"></span>
            <span *ngSwitchDefault class="text-muted glyphicon glyphicon-chevron-up"></span>
        </button>
    </div>
</div>
