<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Напиток</th>
        <th>Кол-во</th>
        <th>Гости</th>        
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let d of drinks">
        <td>{{d.drink}}</td>
        <td>{{d.count}}</td>        
        <td><span *ngFor="let g of d.guests"><a [href]="getGuestRef(g)" target="_blank">{{g.title}}</a>, </span> </td>
    </tr>
    </tbody>
</table>
