<wi-invite-menu></wi-invite-menu>
<main id="home" class="container marging-top-50">
    <div id="invitation" class="row  vertical-align">
        <div [@inviteAnimation]="iviteAnimationState" class="center-block text-center">
            <h1 class="title">{{guest?.title}}</h1>
            <br />
            <div class="row">
                <p class="col-md-offset-1 col-md-10 invite-main-text">Приглашаем вас на праздничный вечер, посвящённый созданию нашей семьи!</p>
            </div>
            <br />
            <p class="invite-date text-uppercase"><span> 9 сентября 2018 года в 15:30 </span></p>
            <br />
            <p class="invite-address text-uppercase">Банкетный зал "Вятка". </p>
            <p class="invite-address text-uppercase">г. Киров, Октябрьский проспект, д. 145 </p>
            <a [routerLink]="invite" fragment="timing" class="btn btn-transparent btn-lg marging-top-50">Подробнее</a>
            <p class="marging-top-50">
                <a class="insta-hashtag"><i class="fa fa-instagram"></i> #planeta_V </a>
            </p>
        </div>
    </div>
    <hr id="story" />
    <section class="we">
        <div class="row text-center">
            <div class="col-xs-1 col-md-offset-2 col-md-1"><i class="glyphicon glyphicon-star-empty decor-star"></i></div>
            <div class=" col-xs-9 col-md-6">
                <div class="appeal-to-guests">
                    <p>
                        Мы не представляем этот праздник без Вас!
                        Разделите с нами нашу радость, подарите свою поддержку и добрые пожелания
                        в начале нашего большого совместного пути, а мы с радостью подарим вам
                        частичку нашего счастья.
                    </p>
                </div>
            </div>
            <div class="col-xs-1 col-md-1"><i class="glyphicon glyphicon-star-empty decor-star"></i></div>
        </div>
        <div class="row text-center">
            <div class="col-xs-6 col-md-offset-2 col-md-3 ">
                <h3 class="groom-bride">Жених</h3>
                <img src="assets/img/groom.jpg" class="img-thumbnail img-responsive" />
                <h4>Антон Александрович <a href="https://vk.com/trueboroda" target="_blank"><i class="fa fa-vk"></i></a></h4>
            </div>
            <div class="col-xs-6 col-md-offset-2 col-md-3 text-center">
                <h3 class="groom-bride">Невеста</h3>
                <img src="assets/img/bride.jpg" class="img-thumbnail img-responsive" />
                <h4>Анна Владимировна <a href="https://vk.com/id52621332" target="_blank"><i class="fa fa-vk"></i></a></h4>
            </div>
        </div>
    </section>
    <hr id="timing" />
    <div class="text-center">
        <h2 class="section-title"><i class="glyphicon glyphicon-star-empty"></i>План мероприятия<i class="glyphicon glyphicon-star-empty"></i></h2>
        <wi-invite-timing></wi-invite-timing>
    </div>

    <section class="text-center">
        <h2 class="section-title">Ведущий свадьбы</h2>
        <img src="assets/img/compere.jpg" class="img-thumbnail img-responsive" />
        <p id="compere"><a class="text-uppercase" href="https://vk.com/id52663649" target="_blank">Никита Коровкин <i class="fa fa-vk"></i></a> </p>
    </section>

    <section class="text-center" id="dress-code">
        <h2 class="section-title">Дресс-код</h2>
        <p style="font-size: 140%">Уважаемые гости мы будем вам очень признательны, если в своём наряде Вы выбирете эти оттенки.</p>
        <div class="row">
            <div class="col-md-offset-2  col-md-8 text-center">
                <button type="button" class="dress-code-card" tooltip="Тёмно синий" style="background-color:#0F3075"></button>
                <button type="button" class="dress-code-card" tooltip="Фиолетовый" style="background-color:#311A46"></button>
                <button type="button" class="dress-code-card" tooltip="Сиреневый" style="background-color:#68407C"></button>
                <button type="button" class="dress-code-card" tooltip="Лавандовый" style="background-color:#ADADD1"></button>
                <button type="button" class="dress-code-card" tooltip="Серебро" style="background-color:#DBDAE0"></button>
            </div>
        </div>
    </section>

    <hr id="photobook" />
    <div class="text-center">
        <h2 class="section-title"><i class="glyphicon glyphicon-star-empty"></i>Фотоальбом<i class="glyphicon glyphicon-star-empty"></i></h2>
        <wi-photobook></wi-photobook>
    </div>
    <hr id="confirm" />
    <div class="row text-center marging-top-50" style="margin-bottom:50px;">
        <h2 class="section-title"><i class="glyphicon glyphicon-star-empty"></i>Подтвердите присутствие<i class="glyphicon glyphicon-star-empty"></i></h2>
        <wi-invite-anketa *ngIf="!!guest" [guest]="guest"></wi-invite-anketa>
    </div>
</main>

<footer id="footer" class="container">
    <div class="row">
        <div class="col-xs-4 col-md-offset-2 col-md-2">
            <div>Trueboroda &copy; 2018</div>
        </div>
        <div class="col-xs-4 col-md-2">
            <div>
                +7(922)925-25-01
            </div>
        </div>
        <div class="col-xs-4  col-md-4">
            <a href="https://vk.com/trueboroda" target="_blank"><i class="fa fa-vk"></i></a>
            <a href="mailto:superiorboroda@gmail.com?subject=Приглашение"><i class="fa fa-google"></i></a>
            <a href="skype:trueborda1?chat" target="_blank"><i class="fa fa-skype"></i></a>
        </div>
    </div>
</footer>
