
@font-face {
    font-family: "Kursive1";
    src: url('../../../assets/fonts/Menuet_script.ttf');
}





@font-face {
    font-family: "like-serif1";
    src: url('../../../assets/fonts/Elisabethische.ttf');
}

/*main {
    font-family: 'Xolonium', Tahoma, Geneva, Verdana, Arial, sans-serif;
    background-color: #011133 !important;
    color: lightgray !important;
}*/

main {
    font-family: "Times New Roman", serif;
    background-color: #011133 !important;
    color: lightgray !important;
}



.title {
    font-family: "Kursive1", Geneva, Verdana, sans-serif;
    font-size: 360%
}


.invite-main-text {
    font-family: "Kursive1", Geneva, Verdana, sans-serif;
    font-size: 280%;
}


.invite-date {
    font-size: 220%;
    line-height: 40px;
    text-decoration-line: overline underline;
  
}
.invite-date span {
    display: inline-block;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    padding: 4px 0px 4px 0px;
}

.invite-address{
    font-size: 160%;
}

#invitation {
    color: white;
    min-height: 800px;
    background-image: url(../../../assets/img/invite-background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-title {
    margin-top: 100px !important;
    font-family: "Kursive1", Geneva, Verdana, sans-serif;
    font-size: 250%;
    color: white;
}


.btn-transparent {
    background-color: transparent;
    border-color: white;
    color: white;
}

.btn-transparent:hover {
    border-color: gray;
    color: gray;
}


.insta-hashtag {
    color: gray;
    font-size: 160%;
}







/*h2 {
    color: whitesmoke;
}*/
footer {
    background-color: black;
    color: white;
}

footer a {
    font-size: 24px;
    margin-left: 20px;
}

footer a:link, :visited {
    color: white;
}

footer a:hover {
    color: darkgray;
}





.we{
    margin-top: 100px;
}

.appeal-to-guests{
    font-size: 160%;
}


.decor-star{
    font-size: 200%;
}

.groom-bride {
    font-family: "Kursive1", Geneva, Verdana, sans-serif;
    font-size: 360%;
}



#compere {    
    font-size: 140%;
    color: white
}


#compere a:link, a:visited{
    color: whitesmoke;
    text-decoration: underline;
}

#compere a:hover {
    color: lightgray;
    text-decoration: underline;
}


.dress-code-card {
    display: inline-block;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    border: 2px solid #efefef;
    margin: 5px;
}
