
<div class="well">
    <form #searchForm="ngForm" role="form" class="form-inline" name="searchform" (ngSubmit)="onFilterChanged()">
        <div class="form-group">
            <!--<label for="title" class="control-label">Поиск</label>-->
            <input class="form-control" type="text" name="text" [(ngModel)]="searchFilter.text" placeholder="текстовый поиск"/>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label><three-state-checkbox [(ngModel)]="searchFilter.isConfirmed" name="isConfirmed"> </three-state-checkbox>Да/нет</label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label><three-state-checkbox [(ngModel)]="searchFilter.isChanged" name="isChanged"> </three-state-checkbox>Новая/нет</label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label><three-state-checkbox [(ngModel)]="searchFilter.withChildren" name="withChildren"> </three-state-checkbox>С детьми/нет</label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label><three-state-checkbox [(ngModel)]="searchFilter.behindTheWheel" name="behindTheWheel"> </three-state-checkbox>За рулём/нет</label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label><three-state-checkbox [(ngModel)]="searchFilter.isNonresident" name="isNonresident"> </three-state-checkbox>Приезжие/нет</label>
            </div>
        </div>
        <div class="form-group">
            <select class="form-control" name="whose" [(ngModel)]="searchFilter.whose">
                <option style="color:lightgray;" [value]="null">-Сторона-</option>
                <option [value]="0">Жениха</option>
                <option [value]="1">Невесты</option>
            </select>
        </div>




        <button type="submit" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-search"></span> Поиск</button>
        <button type="button" (click)="onFilterCleared()" class="btn btn-sm btn-default">Очистить</button>
    </form>
</div>
