
<div class="well">
  <form #searchForm="ngForm" role="form" class="form-inline" name="searchform" (ngSubmit)="onFilterChanged()">    
      <div class="form-group">
        <!--<label for="title" class="control-label">Поиск</label>-->
        <input class="form-control" type="text" name="text" [(ngModel)]="searchFilter.text" />
      </div>
      <button type="submit" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-search"></span> Поиск</button>
      <button type="button" (click)="onFilterCleared()" class="btn btn-sm btn-default">Очистить</button>    
  </form>
</div>
