

<div  *ngIf="!!userInfo">
    <header>
        <wi-menu [userInfo]="userInfo" (logoutClicked) ="logout()"></wi-menu>
    </header>
    <main class="marging-top-50">
        <router-outlet></router-outlet>
    </main>
</div>

