<h1>Админка списка гостей</h1>

<div *ngIf="tableMode else edit">

    <text-filter [searchFilter]="search" (filterChanged)="filterApply($event)" (filterCleared)="clearFilter()"></text-filter>
    <br />
    <button type="button" class="btn btn-success" title="Добавить" (click)="addGuest()"><span class="glyphicon glyphicon-plus"> Добавить</span></button>
    <br />

    <table class="table table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th th-with-sort [fieldName]="'Id'" [sort]="sort" (sortChanged)="sortChangedHandler($event)">Id</th>
                <th>КОД</th>
                <th th-with-sort [fieldName]="'Title'" [sort]="sort" (sortChanged)="sortChangedHandler($event)">Заголовок</th>
                <th>Приезжие</th>
                <th>Сторона</th>
                <th>Описание</th>                
                <th>Операции</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let g of guests">
                <td>{{g.id}}</td>
                <td>
                    {{g.code}}
                    <button type="button" class="btn btn-default" (click)="copyGuestRef(g)" title="Коппировать ссылку для гостя"><span class="glyphicon glyphicon-copy"></span></button>
                </td>
                <td>{{g.title}}</td>
                <td class="text-center"><i class="fa" [ngClass]="{'fa-check-square-o' :g.isNonresident, 'fa-square-o': !g.isNonresident}"></i></td>
                <td>{{g.whose==0?'Жених':'Невеста'}}</td>
                <td>{{g.description}}</td>
                <td>                    
                    <button class="btn btn-sm btn-primary" title="Редактировть" (click)="editGuest(g)"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button class="btn btn-sm btn-danger" title="Удалить" (click)="deleteGuest(g)"><span class="glyphicon glyphicon-trash"></span></button>
                </td>                
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-4">
            <pagination [ngModel]="pagination.currentPage" (pageChanged)="pageChanged($event)"
                        [itemsPerPage]="pagination.pageSize"
                        [totalItems]="totalCount"
                        [maxSize]="5"
                        class="pagination-sm"
                        [boundaryLinks]="true"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
        <div class="col-md-2 col-md-offset-6">
            <select style="margin-top: 20px;" class="form-control input-sm" [(ngModel)]="pagination.pageSize" (change)="pageSizeChanged()">
                <option *ngFor="let ps of pageSizeList" [ngValue]="ps.value">{{ps.text}}</option>
            </select>
        </div>
    </div>
</div>

<ng-template #edit>
    <wi-guest-edit [guest]="guestForEdit" (onGuestAdded)="guestAddedHandler($event)" (onGuestEdited)="guestEditedHandler($event)" (editCanceled)="editCanceledHandler()"></wi-guest-edit>
</ng-template>
