agm-map {
    height: 300px;
}

li{
    background-color: transparent;
    border-color: whitesmoke;
    color:whitesmoke;
    font-size: 120%;
    text-align:left;
}

p.address{
    font-size: 180%;
}


