<section class="row">
    <div class="col-sm-6">
        <!--<ya-map [latitude]="58.5911328" [longitude]="49.6556492" [zoom]="16" >
            <ya-marker [latitude]="58.5911328" [longitude]="49.6556492" >
            </ya-marker>
        </ya-map>-->
        <agm-map [latitude]="58.5911328" [longitude]="49.6556492" [zoom]="15">
            <agm-marker [latitude]="58.591294" [longitude]="49.656973">
            </agm-marker>
        </agm-map>
    </div>
    <div class="col-sm-6">
        <ul class="list-group">
            <li class="list-group-item"><strong>15:30</strong> Сбор гостей на площадке у банкетного зала</li>
            <li class="list-group-item"><strong>16:00</strong> Начало церемонии</li>
            <li class="list-group-item"><strong>16:30</strong> Фуршет</li>
            <li class="list-group-item"><strong>17:00</strong> Фотосессия с гостями</li>
            <li class="list-group-item"><strong>18:00</strong> Банкет</li>
            <li class="list-group-item"><strong>00:00</strong> Конец мероприятия</li>
        </ul>
        <p class="address">Банкетный зал &quot;Вятка&quot;</p>
        <p class="address">г. Киров Октябрьский пр-т, д. 145 </p>


    </div>    
</section>
