<accordion>
    <accordion-group heading="Анкеты гостей">
        <wi-guests-review></wi-guests-review>
    </accordion-group>
    <accordion-group heading="Ответы" [isOpen]="true">
        <wi-answer-report></wi-answer-report>
    </accordion-group>
    <accordion-group heading="Выпивка" [isOpen]="true">
        <wi-drinks-report></wi-drinks-report>
    </accordion-group>

    <accordion-group heading="Города гостей" [isOpen]="true">
        <wi-city-report></wi-city-report>
    </accordion-group>
  
</accordion>

