<form class="anketa" #anketaForm="ngForm" (submit)="submit(anketaForm)">
    <div class="center-block">
        <div class="btn-group">
            <button type="button" class="btn btn-default" [ngClass]="{active: anketa.isConfirmed === true}" (click)="confirm()">Подтверждаю</button>
            <button type="button" class="btn btn-default" [ngClass]="{active: anketa.isConfirmed === false}" (click)="unconfirm()">К сожалению нет</button>
        </div>
    </div>
    <div *ngIf="anketa.isConfirmed; else gansta">
        <h3 class="text-center">Заполните пожалуйста анкету гостя</h3>
        <div class="text-left">
            <div class="row">
                <div class="col-xs-6 col-md-offset-2 col-md-2">
                    <div class="radio">
                        <label><input type="radio" name="alone_withPair" [value]="false" [(ngModel)]="anketa.withPair" [checked]="anketa.withPair === false" required>Буду один</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="alone_withPair" [value]="true" [(ngModel)]="anketa.withPair" [checked]="anketa.withPair === true" required>Будем парой</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="withChildren" [(ngModel)]="anketa.withChildren">С детьми</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="behindTheWheel" [(ngModel)]="anketa.behindTheWheel">За рулём</label>
                    </div>
                </div>

                <div class="col-xs-6 col-md-3">
                    <div class="form-group">
                        <label> {{ guest.isNonresident?'Остановитесь в':'Проживаете в'}}</label>
                        <div class="radio" *ngFor="let city of cities">
                            <label><input type="radio" name="city" [value]="city.id" [(ngModel)]="anketa.cityId" [checked]="anketa.cityId === city.id" required>{{city.name}}</label>
                        </div>
                    </div>
                    <div *ngIf="guest.isNonresident">
                        <div class="form-group">
                            <label>Дата прибытия</label>
                            <input type="text" class="form-control" name="arrivalDate"
                                   bsDatepicker [bsConfig]="datepickerConfig"
                                   [(ngModel)]="anketa.arrivalDate" />
                        </div>
                        <div class="form-group">
                            <label>Дата отбытия</label>
                            <input type="text" class="form-control" name="departureDate"
                                   bsDatepicker [bsConfig]="datepickerConfig"
                                   [(ngModel)]="anketa.departureDate" />
                        </div>
                    </div>
                </div>


                <div class="col-xs-6 col-md-2">
                    <div class="form-group">
                        <label>Напитки</label>
                        <div class="radio" *ngFor="let drink of drinks">
                            <label><input type="radio" name="drink" [value]="drink.id" [(ngModel)]="anketa.drinkId1" [checked]="anketa.drinkId1 === drink.id" required>{{drink.name}}</label>
                        </div>
                    </div>
                    <div *ngIf="anketa.drinkId1===2" class="form-group">
                        <label>Вид вина</label>
                        <select class="form-control" name="vineType" [(ngModel)]="anketa.vineTypeId1" required>
                            <option [value]=""></option>
                            <option *ngFor="let vt of vineTypes" [value]="vt.id">{{vt.name}}</option>
                        </select>
                    </div>
                </div>
                <div *ngIf="anketa.withPair" class="col-xs-6 col-md-2">
                    <div class="form-group">
                        <label>Напитки для пары</label>
                        <div class="radio" *ngFor="let drink of drinks">
                            <label><input type="radio" name="drink2" [value]="drink.id" [(ngModel)]="anketa.drinkId2" [checked]="anketa.drinkId2 === drink.id" required>{{drink.name}}</label>
                        </div>
                    </div>
                    <div *ngIf="anketa.drinkId2===2" class="form-group">
                        <label>Вид вина</label>
                        <select class="form-control" name="vineType2" [(ngModel)]="anketa.vineTypeId2" required>
                            <option [value]=""></option>
                            <option *ngFor="let vt of vineTypes" [value]="vt.id">{{vt.name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-offset-2 col-md-8">
                    <div class="form-group">
                        <label>Контактные телефоны</label>
                        <input type="text" name="phones" class="form-control" [(ngModel)]="anketa.phones" />
                    </div>
                    <div class="form-group">
                        <label>Комментарий/пожелания</label>
                        <textarea name="comment" class="form-control" [(ngModel)]="anketa.comment"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="anketa.isConfirmed === false">
        <div  class="text-center">
            <p style="font-size: 160%">Вы ещё можете изменить решение... </p>

            <img style="height: 400px;" src="assets/img/gansta.jpg" class="img-rounded" alt="Подумай хорошо...">
        </div>
    </div>

    <button *ngIf="anketa.isConfirmed !== null" [disabled]="anketaForm.invalid" class="btn btn-default marging-top-10" type="submit">Сохранить.</button>
    <br />
    <alert *ngIf="alertVisibility" [type]="'success'" [dismissible]="true" [dismissOnTimeout]="3000" (onClosed)="hideAlert()">Выша анкета успешно сохранена. Вы можете в любой момент внести в неё изменения.</alert>
</form>



