<form #loginForm ="ngForm" novalidate (ngSubmit)="submit(loginForm)">
    <div class="row">

        <div class="col-md-offset-4 col-md-4" style="margin-top: 50px;">

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input [(ngModel)]="login" name="login" class="form-control" placeholder="Login or Email" required />
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input [(ngModel)]="password" name="pswd" type="password" class="form-control" placeholder="Пароль" required />
            </div>
            <!--<div class="form-group">
                <a href="/reset_password/request">Забыли пароль?</a>
            </div>-->
            <alert *ngIf="!!errorMessage" [type]="'error'" [dismissible]="dismissible">{{errorMessage}}</alert>
            <button [disabled]="loginForm.invalid" type="submit" class="btn btn-default">Вход</button>
        </div>
    </div>
</form>
